.loginScreen {
  position: relative;
  height: 100%;
  background: url() center no-repeat;
  background-size: cover;
}

.loginScreen--gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__logo {
  width: 150px;
  position: fixed;
  left: 0;
  top: 10px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}

.loginScreen__button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #e50914;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
