.row {
  color: white;
  margin-left: 20px;
}
.row h2 {
  font-weight: 700;
}
.row__posters {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  min-height: 150px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterContainer {
  position: relative;
  flex-shrink: 0;
  display: inline-block; /* Keep this to ensure proper alignment */
  width: 100%; /* Adjust this to match the desired width */
  max-width: 200px; /* Set a max-width if needed */
  cursor: pointer;
  box-shadow: 0, 0, 10px, rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.row__posterContainer:hover {
  transform: scale(1.05); /* Optional: Add a hover effect */
}

.row__poster {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image behaves as a block element */
  object-fit: cover;
  transition: opacity 0.3s ease; /* Optional: Add a smooth transition */
}

.row__posterTitle {
  position: absolute;
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100%; /* Stretch to full width */
  height: 100%; /* Stretch to full height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 1rem;
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.row__posterContainer:hover .row__posterTitle {
  opacity: 1; /* Show on hover */
}

.row__posterContainer:hover .row__poster {
  opacity: 0.7; /* Optional: Reduce image opacity on hover */
}

img {
  border-radius: inherit;
}
